* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a:link,
a:visited {
    text-decoration: none;
}

ul > li {
    display: inline;
    margin-right: 25px;
    font-size: 15px;
    font-weight: 400;
}

header {
    background-color: white;
    border-bottom: 1px solid grey;
    position: fixed;
    display: flex;
    width: 100%;
    padding: 20px;
    height: 75px;
}

.logo {
    margin-top: -15px;
    margin-left: -10px;
}

.logo-img {
    width: 8em;
}


.nav {
    display: flex;
    padding: 16px;
    color: black;
    width: 100%;
}

.menu {
    display: flex;
}

.menu > li > a {
    color: black;
}

.nav-right {
    margin-left: auto;
}

.nav-right > li > a {
    color: #91c11e;
}

.btn {
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    text-transform: uppercase;

}

.btn-alt {
    border: 1px solid #91c11e;
    padding: 10px 30px;
}

.btn-alt:hover {
    background-color: #659a41;
    color: #fff;
    box-shadow: 0px 0px 0px 1px #659a41 inset;
}

.fa {
    vertical-align: middle;

}

.dropdown {
    position: relative;
}

.dropdown > span {
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.dropdown:hover .works-menu ,
.dropdown:hover .recipe-menu {
    display: flex;
    flex-direction: column;
    background: #B2D6FF;
    border-radius: 5px;
    padding-top: 10px;
    position: absolute;
    top:20px;
    left: -10px;
    z-index: 1;
}

.works-menu,
.recipe-menu {
    display: none;
    border-bottom: none;
}

.works-menu > li,
.recipe-menu > li{
    list-style: none;
    border-bottom: 1px solid black;
    padding 0 40px 10px 20px;
    margin: 10px;
}

