* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a:link,
a:visited {
    text-decoration: none;
}

ul > li {
    display: inline;
    margin-right: 25px;
    font-size: 15px;
    font-weight: 400;
}

header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
}

.logo {
    margin-top: 15px;
    margin-left: 10px;
}

.logo-img {
    width: 8em;
}

.mobile-header {
    display: none;
}

.nav {
    display: flex;
    color: black;
    width: 100%;
    height: 80px;
}

.menu {
    display: flex;
    height: 80px;
}

.menu > li {
    height: 80px;
    padding-top: 30px;
}

.menu > li:first-child {
    padding-left: 20px;
}

.menu > li:hover {
    border-bottom: 3px solid #91c11e;
}

.menu > li > a {
    color: black;
}

.menu > li > a:hover {
    color: #91c11e;
}

.nav-right {
    margin-left: auto;
    padding: 30px;
}

.nav-right > li > a {
    color: #91c11e;
}

.btn {
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    text-transform: uppercase;

}

.btn-alt {
    border: 1px solid #91c11e;
    padding: 10px 30px;
}

.btn-alt:hover {
    background-color: #659a41;
    color: #fff;
    box-shadow: 0px 0px 0px 1px #659a41 inset;
}

.fa {
    vertical-align: middle;

}

.dropdown {
    position: relative;

}

.dropdown > span {
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.dropdown:hover .drop-menu {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-top: 30px;
    position: absolute;
    top: 50px;
    z-index: 1;
}

.drop-menu {
    display: none;
    border-bottom: none;
    width: 13em;
}

.drop-menu > li {
    list-style: none;
    width: 13em;
    height: 3em;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #DCDCDC;
}

.drop-menu > li:hover {
    border-left: 3px solid #91c11e;
}

.drop-menu > li > a {
    color: black;
}

.drop-menu > li > a:hover {
    color: #91c11e;
    cursor: pointer;
}


.hero {
    background-image: url("https://cdn.hellofresh.com/au/cms/lentil/delicious/HF_web_banner_Whats_inside_the_box_640x450_retina_doublesize_AUCAUS.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero > h1 {
    font-size: 3em;
    line-height: 1.2em;
    letter-spacing: 2px;
}

.hero > p {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 35px;
}

.btn-hero {
    border: 1px solid #91c11e;
    color: white;
    background-color: #91c11e;
    padding: 10px 30px;
    margin-top: 2%;
}

.btn-hero:hover {
    background-color: #659a41;
    color: #fff;
    box-shadow: 0px 0px 0px 1px #659a41 inset;
}

.row {
    width: 100vw;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-title {
    font-size: 30px;
    padding: 15px;
}

.grid {
    width: 80vw;
    display: flex;
    margin: 0 auto;
    flex-direction: row;

}

.grid-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item > img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.grid-item > h5 {
    font-size: 14px;
}

.grid-item > p {
    margin: 10px;
    font-size: 14px;

    text-align: center;
}

.btn-grid {
    color: #91c11e;
    margin: 25px;
}

.box {
    background-image: url("/assets/images/what-you-get_2560x450.webp");
    width: 100vw;
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-contains {
    width: 550px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
    background-color: white;
}
.box-contains>h1{
    font-size:40px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

.box-items > li {
    list-style-type: none;
}

.fa-plus {
    margin: 15px;
    color: #91c11e;
}


@media only screen and (max-width:948px) {
    .web-header {
        display: none;
    }

    .mobile-header {
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        position: fixed;
        display: flex;
        width: 100%;
        height: 80px;
    }

    .mobile-nav {
        display: flex;
        width: 100%;
        padding: 20px;
        margin-top: 10px;
        justify-content: space-around;
    }

    .horizontal-logoimg {
        width: 8em;
    }
    .fa {
        font-size: 22px;
    }

    .logIn > a {
        color: #91c11e;
        vertical-align: middle;
    }

    .mobile-dropdown {
        position: relative;
        z-index: 2;
        cursor: pointer;

    }


    .mobile-dropmenu {
        background: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding-top: 30px;
        position: absolute;
        top: 80px;
        left: 2px;
        z-index: 1;
        border-bottom: none;
        display: none;
    }


    .mobile-dropmenu > li {
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 13em;
        height: 3em;
        padding-left: 10px;
        padding-top: 10px;
        margin-top: 10px
    }
    .mobile-dropmenu > li > a {
        color: black;
    }

    .mobile-dropmenu > li > a:hover {
        cursor: pointer;
    }
    .fas {
        padding-right: 10px;
    }
}
