* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a:link,
a:visited {
    text-decoration: none;
}

ul > li {
    display: inline;
    margin-right: 25px;
    font-size: 15px;
    font-weight: 400;
}

header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    position: fixed;
    display: flex;
    width: 100%;
    height:80px;
    box-sizing: border-box;
}

.logo {
    margin-top: 15px;
    margin-left: 10px;
}

.logo-img {
    width: 8em;
}


.nav {
    display: flex;
    color: black;
    width: 100%;
    height: 80px;
}

.menu {
    display: flex;
    height: 80px;
}

.menu > li {
    height: 80px;
    padding-top: 30px;
}

.menu > li:first-child {
    padding-left: 20px;
}

.menu > li:hover {
    border-bottom: 3px solid #91c11e;
}

.menu > li > a {
    color: black;
}

.menu > li > a:hover {
    color: #91c11e;
}

.nav-right {
    margin-left: auto;
    padding: 30px;
}

.nav-right > li > a {
    color: #91c11e;
}

.nav-right > li > a:hover {
    color: #659a41;
}

.btn {
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    text-transform: uppercase;

}

.btn-alt {
    border: 1px solid #91c11e;
    padding: 10px 30px;
}

.btn-alt:hover {
    background-color: #659a41;
    color: #fff;
    box-shadow: 0px 0px 0px 1px #659a41 inset;
}

.fa {
    vertical-align: middle;

}

.dropdown {
    position: relative;

}

.dropdown > span {
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.dropdown:hover .drop-menu {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-top: 30px;
    position: absolute;
    top: 50px;
    z-index: 1;
}

.drop-menu {
    display: none;
    border-bottom: none;
    width: 13em;
}

.drop-menu > li {
    list-style: none;
    width: 13em;
    height: 3em;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #DCDCDC;
}

.drop-menu > li:hover {
    border-left: 3px solid #91c11e;
}

.drop-menu > li > a {
    color: black;
}

.drop-menu > li > a:hover {
    color: #91c11e;
    cursor: pointer;
}
